body{
width: 1200px;
height: 900px;
background: #ffffff;
font-family: Verdana;
}
#bandeau_gauche {
color: #c8c8c8;
background: #01003b;
width: 360px;
height: 860px;
float: left;
padding: 20px;
}

#logo{
width:360px;
height:360px;
}

#nom{
left: 30px;
top: -50px;
position: relative;
margin-bottom: 300px;
}

.lien_clair{
color: #c8c8c8;
}

.droite {
color: #000000;
background: #C3D3DE;
padding: 150px;
width: 500px;
height: 600px;
}

.liens{
font-size: 20px;
line-height: 40px;
color: #003B8E;
}
#menu{
display: flex;
}
#doro{
margin-top: 40px;
border-radius: 60px;
width: 300px;
height: 366px;}

.txt{
background: #d8d8d8;
width: 460px;
color: #000000;
height: auto;
padding: 20px;
border-radius: 30px;
text-indent: 30px;
text-align: justify;
font-size: 18px;
}

#txt_un{
top: 0px;
left: 0px;
font-size: 17px;
}

.fond{
top: 100px;
background: #C3D3DE;
width: 1200px;
height: 900px;
display: grid;
grid-template-columns: 550px 550px;
grid-template-rows: 100px 400px 400px;
grid-column-gap: 100px;
align-items: center;
justify-items: center;
}

#naca{
width: 300px;
height: 300px;}

.bandhaut{
width: 1200px;
height: 100px;
background: #01003b;
grid-column-start: 1;
grid-column-end: 3;
grid-row-start: 1;
display: grid;
grid-template-columns: 200px 800px 200px;
align-items: center;
justify-items: center;
}

#pc{
width: 382px;
height: 222px;
<border-radius: 10px;>
}

.Titre_b{
color: #c8c8c8;
}

#hidden_figures{
height: 285px;
width: 213px;
border-radius: 10px;
}

#reunion{
width: 277px;
height: 220px;
border-radius: 10px;
}

.liste{
grid-row-start: 2;
grid-row-end: 4;
}

.nuit{
text-decoration: underline;
color: #f0f0f0;
}